<% provide(:title, "Logar") %>

<h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email, "E-Mail" %>
      <%= f.text_field :email %>
</br>
      <%= f.label :password, "Senha" %> 
      <%= f.password_field :password %> 

    </br>
      <%= f.submit "Logar", class: "btn btn-large btn-primary" %>
    <% end %>
  
</br>
</h2>
<h3>
    <p>Novo usuário? <%= link_to "Registre-se!", signup_path %></p></h3>
  </div>
</div>
</center>