<% provide(:title, 'Sign up') %>
<center><h1>Registro</h1>

    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages' %>

<br>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %>
</br>
<br>
      <%= f.label :email %>
      <%= f.text_field :email %>
</br><br>
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password %>
    </br><br>

      <%= f.label :password_confirmation, "Repetir" %>
      <%= f.password_field :password_confirmation %>
</br>
<br>
      <%= f.submit "Registrar conta", class: "btn btn-large btn-primary" %>
    <% end %>
  </center>
</br>
