<center>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <li> </li>
        <h1> Experiência  <%= @user.personagem.exp %> </h1>
        <h1> Dano do seu Personagem <%= @user.personagem.damage %> </h1>
        <h1> HP:  <%= @user.personagem.hpMax %> / <%= @user.personagem.hpActual %> 
          <h1> Defense: <%= @user.personagem.defense %> </h1>
          <h1> Atacável? <%= @user.personagem.atacable %> </h1>
      </h1>
    </section>
  </aside>
</center>
</div>
