<!DOCTYPE html>
<% # link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css" %>
<html>
<center>
<%= image_tag("alliance.png", :alt => "welcome alliance") %>
<h1> YAOOP </h1>
<h2> Registre uma conta, crie um personagem e comece a jogar! </h2>
<h3>
  <%= link_to "Novo? Registre-se!", "signup" %>
  <%= link_to "Logar", "signin" %>
</h3>
</html>
