<!DOCTYPE html>
<% # link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css" %>


<br />

<div>
<html>
<head><center>
</head>
</div>
</center>
<center><h1> YAOOP </h1></center>
<center><h2> Registre uma conta, crie um personagem e comece a jogar! </h2></center>

  <%= link_to "Novo? Registre-se!", "signup" %>
  <%= link_to "Logar", "signin" %>




</html>
