<!DOCTYPE html>
<html>
<center>

<img src="/stormwind.jpg" alt="Tim Berners-Lee" />

<h1><%= link_to "Cidade/Sair da Cidade", 'rpg/cidade'%>
<h1><%= link_to "Atacar Players", 'rpg/targets'%>
<h1><%= link_to "Comprar Itens", 'rpg/loja'%>
<h1><%= link_to "Deslogar", 'rpg/logout'%>
	<%= current_user.email %>
<img src="/stormwind.jpg" alt="Tim Berners-Lee" />
<%= link_to "Deslogar", "/home/logout" %>
  <tr> </tr>
</h1>
</center>
</html>