<!DOCTYPE html>
<html>
<center>

        <li class="active"><h1><a href="/ideas">Guerreiro</a></h1></li>
        <li class="active"><h1><a href="/ideas">Mago </a></h1></li>
        <li class="active"><h1><a href="/ideas">Arqueiro </a></h1></li>


<img src="icon-warrior.png">

<img src="icon-warrior.png">

<img src="icon-warrior.png">
</center>


</html> 