<!DOCTYPE html>
<html>
<center>

<h3>
<div>
	Bem-vindo, <%= current_user.name %> </br>
<div>
	HP:(<%= current_user.personagem.hpActual %>,<%= current_user.personagem.hpMax %>) </br>
</div>
<div>
<% # = image_tag("worldeditor.png", :alt => "welcome alliance") %>
<%= link_to "Cidade/Sair da Cidade", '/rpg/cidade'%></br>
<% # = image_tag("warrior.png", :alt => "welcome alliance") %>
<%= link_to "Atacar Players", '/rpg/targets'%></br>
<%= link_to "Comprar Itens", '/rpg/loja'%></br>
<%= link_to "Deslogar", '/signout'%>
</div></div>
</h3>
</center>
</html>