<h3> Personagens atacáveis: 
<div>
<% @personagems.each do |p| %>
	<% b = p.user_id %> 
	<% a = User.find(b) %> 
	<%= a.name	 %> </br>
	Hp:< <%= p.hpActual %> / <%= p.hpMax %> > </br>
	ATACAR 

</div>
</h3>
<% end %>