<%= form_for(@char) do |f| %>
  <% if @char.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@char.errors.count, "error") %> prohibited this char from being saved:</h2>

      <ul>
      <% @char.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hpmax %><br>
    <%= f.number_field :hpmax %>
  </div>
  <div class="field">
    <%= f.label :umid %><br>
    <%= f.number_field :umid %>
  </div>
  <div class="field">
    <%= f.label :teste %><br>
  <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
