<h1>Listing chars</h1>

<table>
  <thead>
    <tr>
      <th>Hpmax</th>
      <th>Umid</th>
      <th>Teste</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chars.each do |char| %>
      <tr>
        <td><%= char.hpmax %></td>
        <td><%= char.umid %></td>
        <td><%= char.teste %></td>
        <td><%= link_to 'Show', char %></td>
        <td><%= link_to 'Edit', edit_char_path(char) %></td>
        <td><%= link_to 'Destroy', char, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Char', new_char_path %>
