<p id="notice"><%= notice %></p>

<p>
  <strong>Hpmax:</strong>
  <%= @char.hpmax %>
</p>

<p>
  <strong>Umid:</strong>
  <%= @char.umid %>
</p>

<p>
  <strong>Teste:</strong>
  <%= @char.teste %>
</p>

<%= link_to 'Edit', edit_char_path(@char) %> |
<%= link_to 'Back', chars_path %>
