<!DOCTYPE html>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<% # <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> %>
<% # <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> %>
<% # <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> %>

<html>
<div class="navbar navbar-default navbar-static-top" role="navigation">
	<a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/about">Sobre</a>
    <a class="navbar-brand" href="https://gitlab.com/filiperibeiro77/projeto_oo.git">Repositório</a>
</div><!--/.nav-collapse -->

<%= yield %>

</html>
