<%= form_for(@personagem) do |f| %>
  <% if @personagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personagem.errors.count, "error") %> prohibited this personagem from being saved:</h2>

      <ul>
      <% @personagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :damage %><br>
    <%= f.text_field :damage %>
  </div>
  <div class="field">
    <%= f.label :exp %><br>
    <%= f.number_field :exp %>
  </div>
  <div class="field">
    <%= f.label :hpMax %><br>
    <%= f.text_field :hpMax %>
  </div>
  <div class="field">
    <%= f.label :hpActual %><br>
    <%= f.text_field :hpActual %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.text_field :defense %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
