<h1>Listing personagems</h1>

<table>
  <thead>
    <tr>
      <th>Damage</th>
      <th>Exp</th>
      <th>Hpmax</th>
      <th>Hpactual</th>
      <th>Defense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personagems.each do |personagem| %>
      <tr>
        <td><%= personagem.damage %></td>
        <td><%= personagem.exp %></td>
        <td><%= personagem.hpMax %></td>
        <td><%= personagem.hpActual %></td>
        <td><%= personagem.defense %></td>
        <td><%= link_to 'Show', personagem %></td>
        <td><%= link_to 'Edit', edit_personagem_path(personagem) %></td>
        <td><%= link_to 'Destroy', personagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personagem', new_personagem_path %>
