<p id="notice"><%= notice %></p>

<p>
  <strong>Damage:</strong>
  <%= @personagem.damage %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @personagem.exp %>
</p>

<p>
  <strong>Hpmax:</strong>
  <%= @personagem.hpMax %>
</p>

<p>
  <strong>Hpactual:</strong>
  <%= @personagem.hpActual %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @personagem.defense %>
</p>

<%= link_to 'Edit', edit_personagem_path(@personagem) %> |
<%= link_to 'Back', personagems_path %>
